* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    -webkit-user-select: none;
}

body {
    background-color: #020202;
}

header {
    position: fixed;
    width: 100%;
    background-color: #020202a4;
    height: 0px;
}

.contents {
    background-color: #1e1d21;
}

.menuBar {
    background-color: #5639ac;
    cursor: pointer;
    line-height: 3em;
    padding-left: 26px;
    font-weight: bold;
    color: white;
}

.topMenu a {
    font-weight: bold;
    color: gray;
    padding: 8px;
    display: block;
    transition: 0.3s;
}

.topMenu a:hover {
    color: white;
}

.topMenu {
    background-color: #302e38;
    overflow-y: hidden;
    height: 0px;
    transition: 0.3s;
}

.topMenu2 {
    display: none;
}

.main {
    text-align: center;
    height: 510px;
    overflow: hidden;
    background-image: url("./rhythmGameBackground.gif");
    background-size: 900px;
    background-position: center;
    background-repeat: no-repeat;
}

.main p:nth-child(1) {
    margin-top: 200px;
    color: white;
    font-size: 1.5em;
}

.main p:nth-child(2) {
    color: #ff99cc;
    margin-bottom: 20px;
}

.downloadBtn {
    display: inline-block;
    border-radius: 5px;
    border: 0px;
    width: 223px;
    height: 60px;
    font-weight: bold;
    font-size: 0.9em;
    line-height: 60px;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    background-color: #5639ac;
}

.downloadBtn:hover {
    background-color: #8a6ae7;
}

section {
    text-align: center;
}

section a {
    display: block;
    margin: 15px 10px;
    border: 0px;
    border-radius: 5px;
    background-color: #302e38;
    height: 210px;
}

section a:hover {
    background-color: #494554;
    cursor: pointer;
}

.moreDetails {
    display: inline-block;
    margin: 5px 10px 20px 10px;
    border-radius: 13px;
    background-color: #494554;
    height: 26px;
    width: 106px;
    font-size: 0.8em;
    line-height: 26px;
    text-align: center;
    color: white;
}

.moreDetails:hover {
    background-color: #64606e;
}

footer {
    padding: 25px;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}

footer a {
    display: inline-block;
    margin: 4px;
    color: #ffddee;
    transition: 0.3s;
}

footer a:hover {
    color: white;
}

footer p {
    color: white;
    margin-top: 25px;
}

@media screen and (min-width: 900px) {

    .menuBar {
        display: none;
    }

    .topMenu {
        display: none;
    }

    .topMenu2 {
        display: block;
        margin: 0px auto;
        padding: 20px 15px;
        width: 900px;
        height: 60px;
        background-color: #1e1d21;
    }

    .topMenu2 a {
        display: inline-block;
        font-size: 0.8em;
        font-weight: bold;
        color: white;
        margin: 0px 10px;
        transition: 0.3s;
    }

    .topMenu2 a:hover {
        color: #dd5097;
    }

    .topMenu2 a:nth-child(1) {
        float: right;
    }

    .main {
        width: 900px;
        margin: 0 auto;
        padding-right: 70px;
        text-align: right;
    }

    .downloadBtn {
        text-align: center;
    }

    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 900px;
        margin: 0 auto;
    }

    section a {
        display: inline-block;
        margin: 0px;
        width: 290px;
    }

    section a:nth-child(1) {
        margin: 15px 0px;
        width: 900px;
    }

    .moreDetails {
        margin: 20px 397px;
    }

    footer {
        width: 900px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    footer p {
        width: 100%;
    }
}