* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-user-select: none;
}

body {
    background-color: #1c1b17;
}

header {
    position: fixed;
    width: 100%;
    background-color: #020202a4;
    height: 0px;
}

.contents {
    background-color: #2a2822;
}

.menuBar {
    background-color: #ac8f39;
    cursor: pointer;
    line-height: 3em;
    padding-left: 26px;
    font-weight: bold;
    color: white;
}

.topMenu {
    background-color: #2a2822;
    overflow-y: hidden;
    height: 0px;
    transition: 0.3s;
}

.topMenu a {
    font-weight: bold;
    color: gray;
    padding: 8px;
    display: block;
    transition: 0.3s;
}

.topMenu a:hover {
    color: white;
}

.topMenu ul {
    padding-left: 30px;
    list-style: square;
    color: gray;
}

.topMenu li:hover {
    color: white;
}

.topMenu2 {
    display: none;
}

.topNav {
    background-color: #3d3829;
    color: white;
    padding-top: 48px;
    font-weight: bold;
}

.topNav a {
    display: inline-block;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 1em;
    margin: 14px 10px;
    color: #d9c07b;
}

.topNav a:hover {
    text-decoration-line: underline;
}

#articleNav2 {
    display: none;
}

.articleNav {
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius: 5px;
    background-color: #38362e;
    font-size: 0.9em;
}

.articleNav p {
    cursor: pointer;
}

.articleNav ul {
    display: none;
}

.articleNav li {
    margin: 8px 0px;
    list-style: none;
}

.articleNav a {
    color: #d9c07b;
    transition: 0.3s;
}

.articleNav a:hover {
    color: #d4ad42;
}

article {
    padding: 10px;
    color: white;
}

article h1 {
    font-size: 2em;
    margin: 20px 0px;
}

article img {
    width: 100%;
}

article legend {
    text-align: center;
    margin-bottom: 10px;
}

article ul {
    list-style: circle;
    color: white;
    padding-left: 30px;
}

article li {
    margin: 6px 0px;
}

footer {
    padding: 25px;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}

footer a {
    display: inline-block;
    margin: 4px;
    color: white;
    transition: 0.3s;
}

footer a:hover {
    color: #d4ad42;
}

footer p {
    color: #d9c07b;
    margin-top: 25px;
}

@media screen and (min-width: 1000px) {

    .menuBar {
        display: none;
    }

    .topMenu {
        display: none;
    }

    .topMenu2 div {
        padding: 10px 15px;
        margin: 0px auto;
        width: 1000px;
        height: 48px;
    }

    .topMenu2 {
        display: block;
        position: fixed;
        width: 100%;
        background-color: #ac8f39;
        z-index: 2;
    }

    .topMenu2 a {
        display: inline-block;
        font-size: 0.8em;
        font-weight: bold;
        color: white;
        margin: 0px 10px;
        transition: 0.3s;
    }

    .topMenu2 a:hover {
        color: #ffd153;
    }

    .topMenu2 a:nth-child(1) {
        float: right;
    }

    .contents {
        margin: 0 auto;
        width: 1000px;
        overflow: hidden;
        background-color: #38362e;
    }

    .topNav {
        height: 88px;
        width: 1000px;
        position: fixed;
        z-index: 1;
    }

    #articleNav1 {
        display: none;
    }

    #articleNav2 {
        display: block;
    }

    .articleNav {
        float: left;
        width: 250px;
        margin: 10px 0px;
        padding-top: 88px;
        position: fixed;
    }

    .articleNav p {
        cursor: default;
    }

    .articleNav ul {
        display: block;
    }

    article {
        background-color: #2a2822;
        float: right;
        width: 750px;
        overflow: hidden;
        padding: 10px 30px;
        padding-top: 98px;
    }

    .footer {
        width: 100%;
        background-color: #2a2822;
        margin-top: 10px;
    }

    footer{
        width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    footer p {
        width: 100%;
    }
}